Procyon__Email__Azure__ConnectionString=endpoint=https://example.communication.azure.com/;accesskey=your-access-key
Procyon__Email__Azure__SenderEmail=no-reply@example.com
Procyon__Email__DefaultSender__Address=no-reply@example.com
Procyon__Email__DefaultSender__Name=Procyon Email Example
Procyon__Email__DefaultReplyTo__Address=support@example.com
Procyon__Email__DefaultReplyTo__Name=Procyon Support
