PROCYON_EMAIL_RESEND_API_KEY=re_dummy_key_for_local_example_only
Procyon__Email__DefaultSender__Address=no-reply@example.com
Procyon__Email__DefaultSender__Name=Procyon Email Example
Procyon__Email__DefaultReplyTo__Address=support@example.com
Procyon__Email__DefaultReplyTo__Name=Procyon Support
